    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    }
body{
    background-color: rgb(9, 9, 24);
}
/* NavBar */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    margin-left: 120px;
    margin-bottom: 150px;
    cursor: pointer;
}
.logoText{
    font-size: 20px;
    color: #fff;
    margin-right: 650px;
    font-weight: 600;
}
.logo ul{
    display: flex;
    color: #dedcdc;
    list-style: none;
    gap: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
    .logo ul li {
        list-style: none;
        display: inline-block;
        /* padding: 8px 12px; */
        position: relative;
    }
    .logo ul li::after {
        content: "";
        width: 0%;
        height: 2px;
        background: #fff;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .logo ul li:hover::after {
        width: 70%;
    }

.sign{
    width: 146px;
    height: 50px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
/* Landing Page */
.liveTexts{
    /* display: flex; */
}
.liveText{
    display: flex;
    flex-direction: column;
    font-size: 55px;
    width: 340px;
    line-height: 57px;
    color: #fff;
    margin-left: 120px;
    font-weight: normal;
    margin-bottom: 50px;
}
.shadow{
    width: 25%;
    position: absolute;
    top: 20px;
    left: 150px;
    z-index: -1;
}
.lorem{
    color: #d6d5d54a;
    width: 27%;
    margin-left: 120px;
    line-height: 27px;
    margin-bottom: 50px;
}
.explore{
    margin-left: 120px;
    width: 148px;
    height: 50px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.arrow{
    position: absolute;
    top: 120px;
    left: 320px;
}
.rArrow{
    position: absolute;
    font-size: 30px;
    top: 585px;
    left: 350px;
    margin-right: 200px;
    color: #d6d5d54a;
    display: flex;
    align-items: center;
}
.lArrow{
    position: absolute;
    font-size: 30px;
    top: 585px;
    left: 500px;
    color: #d6d5d54a;
    display: flex;
    align-items: center;
}
.innerP{
    position: absolute;
    left: 392px;
    top: 590px;
    color: #ffffffa4;
    font-size: 30px;
}
.theBrownNumber{
    color: #d6d5d54a;
}
/* Wooden Hand Image */
.handDiv{
    display: flex;
    position: absolute;
    top: 190px;
    right: 100px;
}
.hand{
    height: 75vh;
    width: 100%;
}
.wood{
    position: absolute;
    right: 209px;
    top: -60px;
    width: 45%;
}
.five{
    position: absolute;
    right: 20px;
    bottom: 150px;
    animation: float 5s linear infinite;
}
@keyframes float {
    0%{
        transform: scale(0.2);
        right: 50px;
    }
    100%{
        right: -30px;
        transform: scale(0);
    }
}
.six{
    position: absolute;
    right: 480px;
    top: 285px;
}
.eight{
    position: absolute;
    right: 180px;
    top: -30px;
}