* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
body{
    background-color: purple;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    margin-left: 60px;
}
.logoText{
    font-size: 20px;
}