    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    }
body{
    background-color: rgb(1, 1, 22);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    margin-left: 60px;
    margin-bottom: 150px;
}
.logoText{
    font-size: 20px;
    color: #fff;
    margin-right: 650px;
    font-weight: 600;
}
.logo ul{
    display: flex;
    color: #dedcdc;
    list-style: none;
    gap: 80px;
    display: flex;
    align-items: center;
}
.sign{
    width: 146px;
    height: 50px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.liveTexts{
    display: flex;
}